In [21]:
#https://www.w3schools.com/python/python_mysql_insert.asp

In [22]:
#sql = "INSERT INTO links (name, address) VALUES (%s, %s)"
#val = ("John", "Highway 21")
#mycursor.execute(sql, val)

#mydb.commit()

#print(mycursor.rowcount, "record inserted.")

In [2]:
import mysql.connector

In [17]:
mydb = mysql.connector.connect(
    host="localhost",
    user="wikidb",
    passwd="wikidb",
    database="wikidb"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000000084B2448>

In [18]:
#mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [19]:

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('test',)
('wikidb',)

In [20]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('articles',)
('links',)

In [64]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM (SELECT href FROM links WHERE href IN (\"lucas\", \"lucas2\"))")

for x, in mycursor:
  print(x.decode())

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1

In [44]:
x[0].decode()

'teste123'

In [ ]:
sql = "S links (href) VALUES (%s)"
val = (href,)
mycursor.execute(sql, val)

mydb.commit()

In [89]:
def insert_hrefs(hrefs):
    sql = "INSERT INTO links (href) VALUES (%s) ON DUPLICATE KEY UPDATE href=href"
    val = [(href,) for href in hrefs]
    mycursor.executemany(sql, val)
    mydb.commit()
    #print(mycursor.rowcount, "was inserted.")

In [96]:
def update_hrefs(hrefs, pageids):
    sql = "INSERT INTO links (href, pageid) VALUES (%s, %s) ON DUPLICATE KEY UPDATE pageid=VALUES(pageid)"
    val = list(zip(hrefs, pageids))
    mycursor.executemany(sql, val)
    mydb.commit()
    #print(mycursor.rowcount, "was inserted.")

In [115]:
def insert_article(articles_data):
    sql = """INSERT INTO articles (title, html, pageid) VALUES (%s, %s, %s)
        ON DUPLICATE KEY UPDATE title=VALUES(title), html=VALUES(html), pageid=VALUES(pageid)"""
    mycursor.executemany(sql, articles_data)
    mydb.commit()
    #print(mycursor.rowcount, "was inserted.")

In [7]:
import mysql.connector

class WikiDatabase:
    def __init__(self, host, user, password, database):
        self.db = mysql.connector.connect(
            host=host,
            user=user,
            passwd=password,
            database=database
        )
        
        self.cursor = self.db.cursor()
        
    def insert_hrefs(self, hrefs):
        sql = "INSERT INTO links (href) VALUES (%s) ON DUPLICATE KEY UPDATE href=href"
        val = [(href,) for href in hrefs]
        self._execute_query(sql, val)
        #self.cursor.executemany(sql, val)
        #self.db.commit()
        #print(mycursor.rowcount, "was inserted.") 
        
    def update_hrefs(self, hrefs, pageids):
        sql = "INSERT INTO links (href, pageid) VALUES (%s, %s) ON DUPLICATE KEY UPDATE pageid=VALUES(pageid)"
        val = list(zip(hrefs, pageids))
        self._execute_query(sql, val)
        #self.cursor.executemany(sql, val)
        #self.db.commit()
        
    def insert_article(self, articles_data):
        sql = """INSERT INTO articles (title, html, pageid) VALUES (%s, %s, %s)
            ON DUPLICATE KEY UPDATE title=VALUES(title), html=VALUES(html), pageid=VALUES(pageid)"""
        self._execute_query(sql, articles_data)
        #self.cursor.executemany(sql, articles_data)
        #self.db.commit()
        
    def _execute_query(self, sql, values):
        try:
            self.cursor.executemany(sql, values)
            self.db.commit()
        except Exception as e:
            print("[ERROR]\t{}".format(e))

In [8]:
wikidb = WikiDatabase("localhost", "wikidb", "wikidb", "wikidb")

In [10]:
#wikidb.insert_hrefs(['llllll'])

In [11]:
#wikidb.insert_article([('lucasarticle', 'fsafas', 123456)])

In [13]:
#wikidb.update_hrefs(['llllll'], [123456789])

In [5]:
from wikipydia import wikipedia
from wikipydia.url import UnquotedURL, QuotedURL

In [14]:
article = wikipedia.get_article_by_href(UnquotedURL("Rai"), "tet")

In [15]:
print(article.text())

Rai


Rai nia ilas hosi nave espasiál Apollo 17


Karaterístika orbitál sira


Semieixu boot liu

149 598 261 km 1,00000261 UA


Periéliu

147 098 290 km0,98329134 UA


Aféliu

152 098 232 km1,01671388 UA


Exentrisidade

0,01671123


Períodu orbitál

Loron 365,256363004(tinan 1,000017421)


Velosidade orbitál média

107 200 km/oras29,78 [3] km/segundu


Inklinasaun

7,155° ba ekuadór Loro nian1,57869[4]° ba planu invariavel


Argumentu periastru

114,20783º


Lonjitude fukun asendente

348,73936°


Karaterístika fízika sira


Diámetru ekuatoriál

12 756,2 km


Área rai-belak

510 072 000 km²


Volume

1,08321×1012 km³


Lolon

5,9736×1024


Densidade média

5,515 g/cm³


Gravidade ekuatoriál

9,780327 m/s²0,99732 g


Loron siderál

Loron 0,99726968oras 23 minutu 56 segundu 4,100


Velosidade eskape

11,186 km/s


Inklinasaun aksiál

23°26'21",4119


Albedu

0,367 (jeométriku)0,306 (Bond nian)


Temperatura

média: 14 °C-93,2 °C mínima57,8[12] °C boot liu


Kompozisaun atmosfera nian


Presaun atmosférika

101,325 kPa ba nivel tasi


Nitrojéniu

78,08%


Oksijéniu

20,95%


Argóniu

0,93%


Dióksidu karbonu

0,038%


Suar bee (variavel banati-tuir klima)

-1
Rai planeta datoluk Sistema Solár nian banati-tuir ninian kdook hosi Loro, no nia dalimak banati-tuir ninian tamañu. Nia planeta mesak, oras daudaun, ida-ne'ebé moris nia esisténsia no produsaun posivel. Rai hetan hahoris tiha iha altura oin-ida de'it bainhira Loro no Sistema Solár nia restu hetan hahoris, millaun 4 570 tinan nian uluk.
71% Rai nian hetan taka hosi bee no nia planeta mesak ida-ne'ebé ita bele hetan permanentemente bee iha estadu been iha rai-belak. Bee halo posivel tiha moris iha Rai no halo tiha sistema ida erozaun no sirkulasaun mesak nian iha Sistema Solár.